.about-me {
    text-align: center;
    height: 50vh;
    min-height: 235px;
}

.about-me > h1 {
    text-shadow: 4px 4px 0px rgba(0,0,0,0.2);
}

.hr-about-me {
    height: 4px;
    background-color: #508ae5;
    border: none;
    border-radius: 40px;
    width: 100px;
}

.intro-text {
    color: #000;
    margin-top: 40px;
    font-size: 18px;
    z-index: 10;
}

.content-aboutme {
    margin: 0 auto;
    max-width: 55%;
    
}