.about-me {
    text-align: left;
    height: 50vh;
    border-radius: 60px;
    margin: 5% 5%;
}

.hr-about-me {
    height: 4px;
    background-color: #508ae5;
    border: none;
    border-radius: 40px;
}

.intro-text {
    color: #fff;
}