.about-me {
    text-align: center;
    height: 50vh;
}

.hr-about-me {
    height: 4px;
    background-color: #508ae5;
    border: none;
    border-radius: 40px;
    width: 100px;
}

.intro-text {
    color: #000;
}

.content-aboutme{
    margin: 0 auto;
    max-width: 60%;
}