.contact {
    text-align: center;
    height: 70vh;
    margin: 5% 5%;
}

.hr-contact {
    height: 4px;
    background-color: #77dd77;
    border: none;
    border-radius: 40px;
    width: 100px;
}
