.experience {
    text-align: center;
    height: 65vh;
    min-height: 500px;
}

.experience > h1 {
    text-shadow: 4px 4px 0px rgba(0,0,0,0.2);
}

.hr-experience {
    height: 4px;
    background-color: #ff6961;
    border: none;
    border-radius: 40px;
    width: 100px;
}

.content-experience {
    width: 55%;
    margin-top: 30px;
    text-align: left;
    display: inline-block;
}

.experience-wrapper {
    margin-top: 40px;
    text-align: center;
}