.experience {
    text-align: center;
    height: 80vh;
}

.hr-experience {
    height: 4px;
    background-color: #ff6961;
    border: none;
    border-radius: 40px;
    width: 100px;
}

.experience-wrapper {
    
}