.navigation {
    font-family: 'Ubuntu', sans-serif;
    border-bottom: solid 1px #d8d8d8;
    z-index: 10;
    background-color: #fff;
}

.navigation > ul {
    list-style-type: none;
    text-align: center;
    padding-inline-start: 0;
    margin-top: 0;
    padding-top: 16px;
}

.navigation ul > li {
    display: inline;
    margin: 0 30px;
}

.nav-link {
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

.navigation ul > li > nav-link:visited {
    color: #000;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}