.navigation {
    font-family: 'Ubuntu', sans-serif;
}

.navigation > ul {
    list-style-type: none;
    text-align: center;
    padding-inline-start: 0;
}

.navigation ul > li {
    display: inline;
    margin: 0 30px;
}

.navigation ul > li > a {
    text-decoration: none;
    font-weight: bold;
}