@import url('https://fonts.googleapis.com/css?family=Righteous|Roboto|Ubuntu&display=swap');

h1 {
    color: #000;
    font-family: 'Righteous', cursive;
}

span {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

p {
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #fff;
    margin: 0;
    padding: 0;
}

/* .section {
    border: solid 1px red;
} */